@import "variaveis.less";
@import "config.less";

body{
    background-color: @corDeFundo;
    color: @corDoTexto;
    text-align: center;

    h1{
        margin: 12px 0;
    }

    img{
        margin-top: 12px;
    }


    li{
        list-style: none;
        margin: 12px 0;

        a{
            text-decoration: none;
            color: @corDoTexto;

        }
    }
}